{% extends 'base.html' %}

{% block content %}
    <body id="example">
        <!-- DNA image at the top -->
        <!-- <div class="centered-container">
            <img class="centered-image" src="{{ url_for('static', filename='images/dna.png') }}" alt="Image">
        </div> -->

        <!-- Title at the top -->
        <!-- <h2>{% block title %} QTL-Exploration {% endblock %}</h2> -->
        
        <!-- Subtitle below the title -->
        <!-- <h3>Here you can browse interaction between Structural Variants and SNPs, and more...</h3> -->

        <!-- Here's the first block: GWAS choice, Reference genome and Browsing options -->
        <form id="exploration_form" method="POST">
            <!-- Reference genome -->
            <div style="padding: 10px; background-color: #9FD8C6; margin: 20px; width: 45%; float:left">
                <!-- <h4 style="margin-bottom:0">Reference Genome</h4>
                <input type="radio" name="refGenome" id="GRCh37" value="GRCh37" checked> GRCh37 </input>
                <input type="radio" name="refGenome" id="GRCh38" value="GRCh38" > GRCh38 </input><br> -->
                <h4 style="margin-bottom:0">Chromosome</h4>
                <select name="chrom" id="chrom">
                    <option value="1">Chromosome 1</option>
                    <option value="2">Chromosome 2</option>
                    <option value="3">Chromosome 3</option>
                    <option value="4">Chromosome 4</option>
                    <option value="5">Chromosome 5</option>
                    <option value="6">Chromosome 6</option>
                    <option value="7">Chromosome 7</option>
                    <option value="8">Chromosome 8</option>
                    <option value="9">Chromosome 9</option>
                    <option value="10">Chromosome 10</option>
                    <option value="11">Chromosome 11</option>
                    <option value="12">Chromosome 12</option>
                    <option value="13">Chromosome 13</option>
                    <option value="14">Chromosome 14</option>
                    <option value="15">Chromosome 15</option>
                    <option value="16">Chromosome 16</option>
                    <option value="17">Chromosome 17</option>
                    <option value="18">Chromosome 18</option>
                    <option value="19">Chromosome 19</option>
                    <option value="20">Chromosome 20</option>
                    <option value="21">Chromosome 21</option>
                    <option value="22">Chromosome 22</option>
                    <option value="X">Chromosome X</option>
                </select>
                <h4 style="margin-bottom:0">Tissue</h4>
                <small style="color: grey;">Ctrl + click to select multiple</small>
                <select name="tissue" id="tissue" multiple></select>
            </div>

            <script>
                var tissues = ['Cells_Cultured_fibroblasts', 'Heart_Atrial_Appendage',
                    'Brain_Hypothalamus', 'Stomach', 'Esophagus_Muscularis', 'Pancreas',
                    'Muscle_Skeletal', 'Heart_Left_Ventricle', 'Whole_Blood', 'Artery_Tibial',
                    'Brain_Caudate_basal_ganglia', 'Brain_Hippocampus',
                    'Brain_Putamen_basal_ganglia', 'Testis', 'Brain_Cortex', 'Lung',
                    'Adipose_Subcutaneous', 'Artery_Aorta', 'Artery_Coronary', 'Colon_Sigmoid',
                    'Colon_Transverse', 'Esophagus_Mucosa', 'Nerve_Tibial', 'Pituitary',
                    'Prostate', 'Skin_Not_Sun_Exposed_Suprapubic', 'Skin_Sun_Exposed_Lower_leg',
                    'Spleen', 'Thyroid', 'Adipose_Visceral_Omentum',
                    'Brain_Cerebellar_Hemisphere', 'Brain_Cerebellum',
                    'Brain_Frontal_Cortex_BA9', 'Breast_Mammary_Tissue',
                    'Esophagus_Gastroesophageal_Junction', 'Adrenal_Gland',
                    'Small_Intestine_Terminal_Ileum', 'Vagina', 'Minor_Salivary_Gland', 'Liver',
                    'Cells_EBV-transformed_lymphocytes', 'Ovary', 
                    'Brain_Spinal_cord_cervical_c-1', 'Kidney_Cortex',
                    'Brain_Nucleus_accumbens_basal_ganglia',
                    'Brain_Anterior_cingulate_cortex_BA24', 'Uterus', 'Brain_Amygdala',
                    'Brain_Substantia_nigra']
                var tissue_box = document.getElementById("tissue");
                for (var i = 0; i < tissues.length; i++) {
                    var option = document.createElement("option");
                    option.id = "tissue_option"
                    option.value = tissues[i];
                    option.text = tissues[i];
                    tissue_box.appendChild(option);
                }
            </script>

            <!-- Browsing option -->
            <div style="padding: 10px; background-color: #9FD8C6; margin: 20px; width: 45%; float:left">
                <h1>Browsing options</h1>
                <style>
                    /* Style for the textarea */
                    #browse_option {
                        height: 30px; /* Adjust the height as needed */
                        font-size: 16px; /* Adjust the font size as needed */
                    }
                </style>
                <!-- Locus/Interval/RsID/Gene <br><input id="browse_option" type="text" name="browse" placeholder="PLCG2" value="{{ request.form.get('browse', '') }}"><br>  -->
                Locus <br><input id="browse_option" type="text" name="browse" placeholder="PLCG2" value="{{ request.form.get('browse', '') }}"><br> 
                Window <input type="range" min="1000" max="250000" value="{{ request.form.get('window', '25000') }}" step="1000" name="window" oninput="updateValue(this.value)" id="window">
                <p>Current value: <span id="slider-value">{{ request.form.get('window', '25000') }}</span></p>
                P-Value <br><input id="p_val" type="text" name="p_val" placeholder="0.000001" value="{{ request.form.get('p_val', '') }}"><br> 
                <!-- <small style="color: blue;">Example: 1:1000000 / 1:1000000-1200000 / APOE / rs7412</small> -->
            </div>
            
            <!-- Submit button to start the search -->
            <div style="padding: 10px; background-color: #9FD8C6; margin: 20px; text-align: center">
                <button id="submit_button" style="background-color: #4C837A; color: white">Show region!</button>
            </div>
            
            <script>
                document.getElementById("submit_button").addEventListener("click", function(event) {
                    event.preventDefault(); // Prevent the form from submitting
                    document.getElementById("exploration_form").submit();

                    // TODO: Fix
                    // var selectedCheckboxes = document.querySelectorAll('input[name="allGwas"]:checked');
                    // var textInput = document.getElementById("browse_option").value;
                    // if (selectedCheckboxes.length === 0) {
                    //     alert("Please select a GWAS dataset to show from the GWAS to include.");
                    // } else if (textInput.trim() === "") {
                    //     alert("Please select a region to show from the Browsing options!");
                    // } else {
                    //     document.getElementById("exploration_form").submit();
                    // }
                });
            </script>   
        </form>

        <!-- Main Plot -->
        <!-- <div id="my_dataviz"></div> -->
        {% if chrom %}
            <meta id="my-data" data-chrom="{{chrom}}" data-locus="{{locus}}" data-start="{{start}}" data-end="{{end}}" data-p_val="{{p_val}}" data-tissues="{{tissues}}">
            <div id="gosling-container"></div>
        {% endif %}
        
        <!-- <div style="display: flex; flex-direction: column; text-align: center;">
            {% if plot_url %}
            <div style="margin: 0px; padding: 0px;">
                <img src="data:image/png;base64,{{ plot_url }}"/>
            </div>
            {% endif %}
        </div> -->

        <!-- Footnote images -->
        <div class="image-container-foot">
            <img src="{{ url_for('static', filename='images/amstUMC.jpg') }}" alt="ams">
            <img src="{{ url_for('static', filename='images/tudelft1.png') }}" alt="tud">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="gith">
        </div>
    </body>
{% endblock %}
